[submodule "concave-hull"]
	path = concave-hull
	url = https://github.com/Geodan/concave-hull.git
[submodule "pymintriangle"]
	path = pymintriangle
	url = https://github.com/Geodan/pymintriangle.git
[submodule "building-boundary"]
	path = building-boundary
	url = https://github.com/esgn/building-boundary.git
